---{{ if .SSHHostKey }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: flux-ssh-config{{ if .Namespace }}
  namespace: {{ .Namespace }}{{ end }}
data:
  known_hosts: |
    {{ .SSHHostKey }}
{{ end }}